{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.


Create a button in index.handlebars that will submit the user input into the database. --}}

<header>
    <img src="https://images.pexels.com/photos/3864682/pexels-photo-3864682.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Burger and Fries on Wooden Cutting Board">
  <h1>Eat Da Burger!</h1>  
</header>
<body>

    <h3>What kind of burger do you want to eat?</h3>

    <form class = "row g-2">
        <div class = "col-5">
            <label for="burgerType" class="form-label">Burger</label>
            <input type="burgerType" class="form-control" id="burgerInput">
        </div>
        <div class="col-5">
            <button type="submit" class="btn btn-primary">Add to the Menu</button>
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>On the Menu:</h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">Mushroom Swiss
                        <span class="badge bg-primary rounded-pill">Devour</span>
                    </li>
                </ul>
                

            </div>
            <div class="col-md-4 offset-md-4">
                <h3>Devoured Burgers:</h3>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">Black and Bleu
                        <span class="badge bg-prmary rounded-pill">Discard</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    

</body>
